<table class="table table-striped">

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td>
          <div>
          <p>
            <span><strong><%=sortable "nome", "Nome:" %></strong></span>
            <%= person.nome %>
          </p>

          <p>
            <span><strong><%=sortable "cognome", "Cognome:" %></strong></span>
            <%= person.cognome %>
          </p>

          <p>
            <span><strong><%=sortable "mail", "Email:" %></strong></span>
            <%= person.mail %>
          </p>

          <p>
             <span><strong><%=sortable "tel1", "Cellulare:" %> </strong></span>
            <%=  person.tel1 %>
          </p>

          <p>
             <span><strong><%=sortable "tel2", "Cellulare:" %></strong></span>
            <%= person.tel2 %>
          </p>

          <p>
             <span><strong><%=sortable "tel3", "Ufficio:" %></strong></span>
            <%= person.tel3 %>
          <p>
             <span><strong><%=sortable "tel4", "Casa:" %></strong></span>
            <%= person.tel4 %>

          <p>
             <span><strong><%=sortable "indirizzo", "Indirizzo:" %></strong></span>
            <%= person.indirizzo %>
          <p>
          </div>        
        </td>
        <td>
         <div>
           <p>
              <span><strong><%=sortable "comune", "Comune:" %> </strong></span>
             <%= person.comune %>
            </p>

            <p>
              <span><strong><%=sortable "provincia", "Provincia:" %> </strong></span>
              <%= person.provincia %>
            </p>

            <p>
              <span><strong><%=sortable "regione", "Regione:" %> </strong></span>
              <%= person.regione %>
            </p>

            <p>
              <span><strong><%=sortable "incarico", "Incarico:" %> </strong></span>
              <%= person.incarico %>
            </p>

            <p>
              <span><strong><%=sortable "seggio", "Seggio:" %></strong></span>
              <%= person.seggio %>
            </p>

            <p>
              <span><strong><%=sortable "riferimento", "Riferimento:" %> </strong></span>
              <%= person.riferimento %>
            </p>

            <p>
              <span><strong><%=sortable "priorita", "Priorità:" %> </strong></span>
              <%= person.priorita %>
            </p>

            <p>
              <span><strong><%=sortable "note", "Note:" %> </strong></span>
              <%= person.note %>
            </p>
         </div>
         <div>
           <%= link_to t('.edit', :default => t("helpers.links.modifica")),
                      edit_person_path(person), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.elimina")),
                      person_path(person),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Sei sicuro di voler eliminare?')) },
                      :class => 'btn btn-mini btn-danger' %>
         </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class='paginate-container'>
<%= will_paginate @person, :previous_label => t("< indietro"), :next_label => t("avanti >") %>
</div>